body {
	background-color: #lenin;
	
	/*#f7f7f7*/
}
p {
	font-family: 'Rubik', sans-serif;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	/*font-family: 'Rubik', sans-serif;*/

	text-align: center;

}

/*background-color:  #222;*/
h1 {
  font-family: 'Playfair Display', serif;
  /*font-family: 'Rubik', sans-serif;*/
  /*color: maroon;*/
}
h2, h3 {
	font-family: 'Roboto Mono', monospace;
}

h4 {
	/*font-family: 'Roboto Mono', monospace;*/
	font-family: 'Roboto Condensed', sans-serif;
	/*font-family: 'Oswald', sans-serif;*/
	/*font-family: 'Rubik', sans-serif;*/
}

ul{
	list-style-type: none;
}

ul#horizontal-list {
	list-style: none;
	padding-top: 20px;
	}

ul#horizontal-list li {
	display: inline;
}

#profilepic {
    margin: 0 auto;
    width: 35vh;
    height: 35vh;
    padding:10px;
    border: 10px solid #C5D0C1;
    border-radius: 50%;
    background-color:#828E8c;
    /*box-shadow: 12px 0 #d9c8f1, 24px 0 #e2d6f3, 36px 0 #ece6f5;*/
}

#logopic {
	width: 80px;
}

#socialicon {
	width: 50px;
}

#aboutmeArticle, #projects, #tools {
	background-color: white;
    border-radius: 50px;
    padding: 48px;
    /*box-shadow: 12px 0 #C5D0C1, 24px 0 #f7f7f7, 36px 0 #828E8c;*/
    box-shadow: 12px 0 #d9c8f1, 24px 0 #e2d6f3, 36px 0 #ece6f5;
    /*0 25px 24px 32px #C5D0C1;*/
}

#contactButton {
    background-color: #ff7171;
    border: 2px solid #ff7171;
    padding: 10px 15px;
    margin: 10px 0;
    width: auto;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

